@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Sora', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: antiquewhite;
    font-weight: bold;
}